<div class="backdrop"></div>
<header class="main-header">
  <button id="side-menu-toggle">Menu</button>
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/rollcall' ? 'active' : '' %>" href="/rollcall"
          >RollCall</a
        >
      </li>
      <li class="main-header__item">
        <a
          class="<%= path === '/annual-leave' ? 'active' : '' %>"
          href="/annual-leave"
          >Annual Leave</a
        >
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/products' ? 'active' : '' %>" href="/products"
          >Profile</a
        >
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart"
          >Working Time</a
        >
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders"
          >Covid19</a
        >
      </li>
    </ul>
  </nav>
</header>

<nav class="mobile-nav">
  <ul class="mobile-nav__item-list">
    <li class="mobile-nav__item">
      <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/rollCall' ? 'active' : '' %>" href="/"
        >RollCall</a
      >
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/products' ? 'active' : '' %>" href="/products"
        >profile</a
      >
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart"
        >Working Time</a
      >
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders"
        >Covid19</a
      >
    </li>
  </ul>
</nav>
