<%- include('./includes/head.ejs') %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/check.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/modal.css">
    
    
</head>

<body>
    <%- include('./includes/navigation.ejs') %>

    <main>

        <div class="button-group">
            <button id="checkinBtn" class="checkin">Check in</button>
            <button id="checkoutBtn" class="checkout">check out</button>
            <button id="annualLeaveBtn" class="annual">Annual Leave</button>
        </div>

        <div class="status">
            <h3>
                You are off Now, Check in to start work
            </h3>
        </div>
        <div id="checkinModal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2>check In</h2>   
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="mb-3">
                            <label for="name" class="form-label">Staff Name</label>
                            <input type="text" class="form-control" id="name" name="userName" value="Le Tuan Bao" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Work At</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected value="company">Company</option>
                                <option value="home">Home</option>
                                <option value="cleint">Cleint</option>
                            </select>
                            <button type="submit" class="btn btn-outline-warning mt-3 ">Check In</button>
                        </div>
                    </form>       
                </div>
            </div>
        </div>

        <div id="AnnualLeaveModal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2>Annual Leave</h2>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="mb-3">
                            <label for="leaveDate" class="form-label">Leave Date</label>
                            <input type="date" class="form-control" id="leaveDate" name="leaveDate">
                        </div>

                        <div class="mb-3">
                            <label for="reasonDesc" class="form-label">Reason Description</label>
                            <textarea name="reasonDesc" class="form-control" id="reasonDesc" rows="3"></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="Remaining" class="form-label">Reason Description</label>
                            <input class="form-control" type="text" id="Remaining" value="12" aria-label="readonly input example" readonly>
                        </div>

                         <div class="mb-3">
                            <label for="offTime" class="form-label">Off Time</label>
                            <input class="form-control" max="8" min="0.5" step="0.1"  type="number" name="offTime" id="offTime">
                        </div>
                        <button type="submit" class="btn btn-outline-warning mt-3 ">Register</button>
                    </form>      
                </div>
            </div>
        </div>
            

        <!-- <% if (status === "off") { %>
            <h1>please,check-in</h1>
            <form action="rollCall/checkin" method="POST">
                <div class="mb-3">
                    <label for="name" class="form-label">Staff : </label>
                    <input type="text" class="form-control" id="name" value="<%= userName %>" readonly>
                </div> 
                <div class="mb-3">
                    <label for="workPos" class="form-label">Work at : </label>
                    <select name = "workPostion" id = "workPos" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">s
                        <option selected value="company">Company</option>
                        <option value="home">Home</option>
                        <option value="client">Client</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Checkin</button>
                <button type="button" class="btn btn-primary"><a style="color:white;text-decoration: none;" href="/rollCall/infor">check rollcall</a></button>
            </form>
        <% } else { %>
            <h1>Status : Working</h1>
            <div>
                <p>Work at : <%= workAt %></p>
                <p>checkin time : <%= startTime %> </p>
            </div>
            <form action="/rollcall/check-out" method="POST">
                <button class="btn btn-primary" type="submit">Check out</button>
            </form>
        <% } %> -->
    </main>
<%- include('./includes/end.ejs') %>