<%- include('./includes/head.ejs') %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/check.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/modal.css">
</head>

<body>
    <%- include('./includes/navigation.ejs') %>

    <main>

        <div class="button-group">
            <button <% if(status === "on") { %> disabled <% } %> id="checkinBtn" class="checkin">Check in</button>
            <form action="/rollcall/checkout" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                 <button type="submit" <% if(status === "off") { %> disabled <% } %> id="checkoutBtn" class="checkout">check out</button>
            </form>
           
            <button id="annualLeaveBtn" class="annual">Annual Leave</button>
        </div >
        <div class="infor">
            <h2>Status : Off</h2>
            <h5>Today,You have worked <%= totalWorkTime %> hours</h5>
        </div>  
        <div>
            
            <table class="table table-striped rollcall-table">
                <thead>
                    <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Check In</th>
                    <th scope="col">Check Out</th>
                    <th scope="col">Work Place</th>
                    </tr>
                </thead>
                <tbody>
                <% rollCalls.forEach((rollcall,index) => { %>
                <tr>
                    <td ><%= index %></td>
                    <td ><%= rollcall.checkIn %></td>
                    <td ><%= rollcall.checkOut %></td>
                    <td ><%=rollcall.position %></td>
                </tr>
                <% }) %>    
                </tbody>
            </table>
            
        </div>

        <div id="checkinModal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2>check In</h2>   
                </div>
                <div class="modal-body">
                    <form action="/rollcall/checkin" method="post">
                        <div class="mb-3">
                            <label for="name" class="form-label">Staff Name</label>
                            <input type="text" class="form-control" id="name" name="staffName" value = "<%= staffName %>" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Work At</label>
                            <select name="workPosition" class="form-select" aria-label="Default select example">
                                <option selected value="company">Company</option>
                                <option value="home">Home</option>
                                <option value="cleint">Cleint</option>
                            </select>
                             <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                            <button type="submit" class="btn btn-outline-warning mt-3 ">Check In</button>
                        </div>
                    </form>       
                </div>
            </div>
        </div>

        <div id="AnnualLeaveModal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2>Annual Leave</h2>
                </div>
                <div class="modal-body">
                    <% if (annualLeave <= 0) { %>
                        <h3>You can not register annual leave bacause your annual day does not remain</h3>
                    <%  } else { %>
                        <%- include('./includes/annualLeaveModal.ejs') %>
                     <% } %>
                </div>
            </div>
        </div>
        
    </main>
<%- include('./includes/end.ejs') %>