<%- include('../includes/head.ejs') %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/check.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="/css/forms.css">
    
    
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="row g-1">       
            <div class="col-12 mt-2">
                <div class="status">
                    <h3>
                        Working Time Confirmation
                    </h3>
                </div>
                <form class="product-form" action="/manage" method="POST">
                    <div class="form-control mb-1 align-items-center justify-content-around">
                        <label for="positiveDate">Choose Staff : </label>
                        <select name = "staffId" class="form-select" aria-label=".form-select-lg example">
                            <% staffs.forEach((staff,index) => {  %>
                                <% if (employee && employee.email=== staff.email) { %>        
                                    <option selected value="<%=staff._id%>"><%=staff.name%></option>
                                 <% } else { %>
                                    <option value="<%=staff._id%>"><%=staff.name%></option>
                                <% } %>
                            <% }) %>
                        </select>
                    </div>
                    <div class="form-control mb-1 align-items-center justify-content-around">
                        <label for="month">Choose Month : </label>
                        <select name = "month" class="form-select" aria-label=".form-select-lg example">
                            <% [1,2,3,4,5,6,7,8,9,10,11,12].forEach((month,index) => {  %>
                                <% if (chooseMonth && chooseMonth == month) { %>
                                    <option selected value="<%=month%>"><%=month%></option>
                                <% } else { %>
                                    <option value="<%=month%>"><%=month%></option>
                                 <% } %>
                            <% }) %>
                        </select>
                    </div>
                      
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />                 
                    <div class="btn-gr mt-3">
                        <button type="submit" class="btn btn-info">Checking Staff Working Time</button>
                    </div>
                </form> 
             </div>
             <% if(message) { %> 
                <div  class="user-message user-message--error mt-5"><%= message %></div>
            <% } %>
            <% if(employee) { %>
                <div class="work-infor manage">   
                    <h2 style="text-align: center;">Work Time Information</h2>
                    <% if(status) { %>
                        <h5 style="text-align: center;"><i>Status : Not Confirmed</i></h5>
                    <% } else { %>
                        <h5 style="text-align: center;"> <i>Status : Confirmed</i></h5>
                    <% } %>
                    <table class="table table-striped rollcall-table">
                        <thead>
                            <tr>
                                <th scope="col">Work Date</th>
                                <th scope="col">Work Place</th>
                                <th scope="col">Check In Time </th>
                                <th scope="col">Check Out Time </th>
                                <th scope="col">Session Duration</th>
                                <th scope="col">Total Work Time</th>
                                <th scope="col">Over Time</th>
                                <th scope="col">Annual Leave</th>
                                <th scope="col" >Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% workInfors.forEach(workInfor => { %>
                            <tr>
                                <td scope="col"><%= workInfor.date %></td>
                                <td scope="col"><%= workInfor.workPlace %></td>
                                <td scope="col"><%= workInfor.checkIn %></td>
                                 <td scope="col">
                                    <% if(workInfor.checkOut !== null) { %>
                                       <%= workInfor.checkOut %>
                                    <% } else { %>
                                        --
                                    <% } %>
                                </td>
                                <td scope="col">
                                    <% if(workInfor.duration !== null) { %>
                                       <%= workInfor.duration %>
                                    <% } else { %>
                                        -
                                    <% } %>
                                </td>
                                <td scope="col">
                                    <% if(workInfor.workTimeAndaAnnualLeave !== null && !isNaN(workInfor.workTimeAndaAnnualLeave)) { %>
                                        <%= workInfor.workTimeAndaAnnualLeave %>
                                    <% } else if (isNaN(workInfor.workTimeAndaAnnualLeave)) { %>
                                        Not Finished
                                    <% } else { %> 
                                        -
                                    <% } %>
                                </td>
                                 <td scope="col">
                                    <% if(workInfor.overTime !== null) { %>
                                        <%= workInfor.overTime %>
                                    <% } else { %>
                                        -
                                    <% } %>
                                </td>
                                <td scope="col"><%= workInfor.registedAnnualTime %></td>
                                <% if(workInfor.checkOut && status) { %>
                                    <td scope="col">
                                        <form action="/manage/deleteWorkSession" method="post">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />                 
                                            <input value="<%= workInfor.workSessionId %>" name="workSessionId" type="hidden">
                                            <input value="<%= employee._id %>" name="employeeId" type="hidden">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </td>
                                <% } else { %>
                                    <td scope="col"><form action="#"><button disabled type="submit" class="btn btn-danger">Delete</button></form></td>
                                <% } %>
                            </tr>
                            <% }); %> 
                        </tbody>
                    </table>
                     <form class="product-form" action="/manage/confirm-Work-Session" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />                 
                        <input type="hidden" name="employeeId" value="<%= employee._id %>" />                 
                        <input type="hidden" name="chooseMonth" value="<%= chooseMonth %>" />                 
                        <div class="btn-gr mt-3">
                            <% if(status) { %>
                                <button type="submit" class="btn btn-warning">Confirm Work Sessions</button>
                            <% } else { %>
                                <button disabled type="submit" class="btn btn-warning">Confirm Work Sessions</button>
                            <% } %>
                        </div>
                </form> 
                </div>
            <% } %>
    </main>
<%- include('../includes/end.ejs') %>